<!--colright-->

<div class="col-md-4 col-sm-12">


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h3 class="text-center">
            Hey {{ app.user.firstname }}
        </h3>
        <p class="text-center"> Connected last: {{ app.user.datelastconnection | date('d/m/Y') }}</p>

        <h4 class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                Admin
            {% elseif is_granted('ROLE_AUTHOR') %}
                Author
            {% elseif is_granted('ROLE_EDITOR') %}
                Editor
            {% else %}
                Member
            {% endif %}
        </h4>

        <ul class="list-group">


            {% dump(article) %}


            {%  if article is defined
                and article
                and (( (article.author.id == app.user.id ) and is_granted('ROLE_AUTHOR') )
                or is_granted('ROLE_EDITOR')) %}

                <li class="list-group-item">
                    <a href=" {{ path('article_edit', {id : article.id}) }} ">
                        Edit article
                    </a>
                </li>
            {% endif %}


            {% if is_granted('ROLE_AUTHOR') %}
                <li class="list-group-item">
                    <a href=" {{ path('article_new') }} ">
                        Write an article
                    </a>
                </li>
            {% endif %}


                <li class="list-group-item">
                    <a href=" {{ path('security_logout') }} ">
                        Logout
                    </a>
                </li>
        </ul>

    {% endif %}

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                DERNI&Egrave;RE PUBLICATIONS
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">

                {% block sidebar_lastArticles %}
                    {% for article in articles %}
                        {{ include('component/sidebar/last_articles.html.twig') }}
                    {% endfor %}
                {% endblock %}

            </ul>
        </div>
    </div>

    {% block social_medias %}
        {% include 'component/social_media.html.twig' %}
    {% endblock %}


    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				En Avant
			</span>
        </div>
        <div class="list-special">

            {% block sidebar_specials %}
                {% for special in specials %}
                    {% include 'component/sidebar/specials.html.twig' %}
                {% endfor %}
            {% endblock %}

        </div>
    </div>
</div>