<!--colright-->

{% trans_default_domain 'sidebar' %}

<div class="col-md-4 col-sm-12">


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h3 class="text-center">
            {{ 'sidebar.hello' | trans }} {{ app.user.firstname }}!
        </h3>
        <p class="text-center"> {{ 'sidebar.connectedsince' | trans }}: {{ app.user.datelastconnection | date('d/m/Y') }}</p>

        <h4 class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                {% trans from 'roles' %}role.admin{% endtrans %}
            {% elseif is_granted('ROLE_AUTHOR') %}
                {% trans from 'roles' %}role.author{% endtrans %}
            {% elseif is_granted('ROLE_EDITOR') %}
                {% trans from 'roles' %}role.editor{% endtrans %}
            {% else %}
                {% trans from 'roles' %}role.member{% endtrans %}
            {% endif %}
        </h4>

        <ul class="list-group">

            {%  if article is defined
                and article
                and (( (article.author.id == app.user.id ) and is_granted('ROLE_AUTHOR') )
                or is_granted('ROLE_EDITOR')) %}

                <li class="list-group-item">
                    <a href=" {{ path('article_edit', {id : article.id}) }} ">
                        {% trans from 'articles' %}articles.edit{% endtrans %}
                    </a>
                </li>
            {% endif %}


            {% if is_granted('ROLE_AUTHOR') %}
                <li class="list-group-item">
                    <a href=" {{ path('article_new') }} ">
                        {% trans from 'articles' %}articles.create{% endtrans %}
                    </a>
                </li>
            {% endif %}


                <li class="list-group-item">
                    <a href=" {{ path('security_logout') }} ">
                        {% trans from 'nav' %}nav.logout{% endtrans %}
                    </a>
                </li>
        </ul>

    {% endif %}

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                {{ 'sidebar.lastarticles' | trans }}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">

                {% block sidebar_lastArticles %}
                    {% for article in articles %}
                        {{ include('component/sidebar/last_articles.html.twig') }}
                    {% endfor %}
                {% endblock %}

            </ul>
        </div>
    </div>

    {% block social_medias %}
        {% include 'component/social_media.html.twig' %}
    {% endblock %}


    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				{{ 'sidebar.toparticles' | trans }}
			</span>
        </div>
        <div class="list-special">

            {% block sidebar_specials %}
                {% for special in specials %}
                    {% include 'component/sidebar/specials.html.twig' %}
                {% endfor %}
            {% endblock %}

        </div>
    </div>
</div>